<app-menus></app-menus>
<router-outlet></router-outlet>
<footer class="bs-docs-footer">
   <div class="container row">
     <div class = "col-md-4">
        <h5>Links</h5>
         <ul>

             <li><a href="#0.1_">Home</a></li>

             <li><a href="#0.1_">About</a></li>

             <li><a href="#0.1_">Menu</a></li>

             <li><a href="#0.1_">Contact</a></li>

           </ul>
     </div>

      <div class="col-md-4">
        <h5>Our Address</h5>
        <address>

          214, King Street West, Downtown, Toronto<br>

          ONTARIO<br>

          Tel.: +416 1234 5678<br>

          Fax: +416 8765 4321<br>

          Email: <a href="mailto:ilfornello@food.net" target="_blank">ilfornello@food.net</a>

       </address>
      </div>
      <div class = "col-md-4">
          <ul>

              <li><a href="#0.1_">Google</a></li>

              <li><a href="#0.1_">Facebook</a></li>

              <li><a href="#0.1_">Twitter</a></li>

              <li><a href="#0.1_">LinkedIn</a></li>

              <li><a href="#0.1_">Youtube</a></li>

              <li><a href="#0.1_">Mail</a></li>

            </ul>
      </div>
    </div>
    <div class="row">
      <p align="center">© Copyright 2015 Ristorante Il Fornello</p>
    </div>
</footer>
